# Extract the target

In [1]:
from mlops2_with_dagster.utils import get_project_dir, printse
project = 'mlops2_with_dagster'
project_dir = get_project_dir(project)
printse(f'project_dir: {project_dir}')

>>>> project_dir: /Users/rahul/Websites/mlops2_with_dagster

In [2]:
import pandas as pd
from joblib import dump, load
from hamilton import driver, base

In [3]:
from mlops2_with_dagster import encoder_pipeline

In [4]:
from pathlib import Path
train_data : Path = project_dir/"data/train.csv"

In [5]:
# parameters
df_train = pd.read_csv(train_data)

In [6]:
index_col = 'passengerid'
target_col = "survived"
cat_cols = ["sex", "cabin", "embarked"]
config = {
    'index_column': index_col,
    'target_column': target_col,
    'categorical_columns': cat_cols
}

In [7]:
printse(pd.__version__)

>>>> 1.2.0

In [8]:
encode_dr = driver.Driver(config, encoder_pipeline)
output_nodes = ['target']
# encode_dr.visualize_execution(output_nodes, project_dir/'artifacts/target.dot', {}, 
#     inputs = dict(
#         df_train = df_train
#     )                           
# )

In [9]:
out = encode_dr.execute(['target'],
        inputs = dict(
            df_train = df_train        )         
)
out

             target
passengerid
0                 1
1                 0
2                 0
3                 0
4                 1
...             ...
99995             1
99996             0
99997             0
99998             0
99999             0

[100000 rows x 1 columns]

In [11]:
import dagstermill

dagstermill.yield_result(out, output_name="target")

             target
passengerid
0                 1
1                 0
2                 0
3                 0
4                 1
...             ...
99995             1
99996             0
99997             0
99998             0
99999             0

[100000 rows x 1 columns]